
        <%- include('partials/header') %>
        <%- include('partials/ticker') %>
        <div class="row">
        <div class="col-lg-4 main">
        <%- include('partials/sidebar') %>
        </div>
        <div class="col-lg-8 main">
        <%- include('partials/userprofile') %>
        <%if (myprofile){%>
        <%- include('partials/newpost') %>
        <%}%>
          <h2 class="post-header entry">Posts</h2>
          <div class="myposts">
            <%for(var i = 0; i<posts.length; i++){%>
              <div class="card bg-light post">
                <div class="row">
                  <div class="col">
                  <h4 class="post-user"><%=username%></h4>
                  </div>
                  <div class="col del_pos">
                    <%if (myprofile){%>
                    <form class="del_button" action="/profile/delPost" method="post">
                      <button class="del_button" type="submit" name="Post_id" value="<%=posts[i]._id%>"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    <%}%>
                  </div>
                </div>
                <p class = "post-message"><%=posts[i].message%></p>
                <p class = "post-date"><%=posts[i].date%></p>
              </div>
            <%}%>
          </div>
        </div>
        </div>
        <%- include('partials/footer') %>
